<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-6">
            <h1>Contact</h1>
            <p>Send questions or comments to <strong>thefundercat@gmail.com</strong>.</p>
        </div><!-- col -->
    </div><!-- row -->
</div><!-- animated -->
