<div id="fc-payment" class="animated fadeIn">
    <div *ngIf="campaign">
        <h1>Support {{ campaign.title }}</h1>
        <h4>Hosted By {{ campaign.user.name }}</h4>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-7 col-lg-7 col-xl-5">

            <!-- rewards -->
            <div *ngIf="campaign && campaign.rewards.length > 1" class="card">
                <div class="card-header">
                    <h2><i class="fa icon-present"></i> Your Reward</h2>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <select
                            [(ngModel)]="rewardIndex"
                            (change)="setPaymentAmount()"
                            class="form-control"
                        >
                            <option
                                *ngFor="let reward of campaign.rewards; let i = index"
                                value="{{ i }}"
                            >
                                <span *ngIf="i > 0">
                                    ${{ reward.amount }} or more -
                                </span>
                                {{ reward.title }}
                            </option>
                        </select>
                    </div>
                    <p *ngIf="rewardIndex > 0">
                        {{ campaign.rewards[rewardIndex].description }}
                    </p>
                </div><!-- card-body -->
            </div><!-- card -->
            <!-- end Rewards -->

            <!-- Pay -->
            <form novalidate (ngSubmit)="getStripeToken()">
                <div class="card">
                    <div class="card-header">
                        <strong><i class="fa icon-credit-card"></i> Your Payment Information</strong>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Your Contribution Amount</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-dollar"></i>
                                        </span>
                                        <input
                                            [(ngModel)]="payment.amount"
                                            class="form-control"
                                            name="amount"
                                            placeholder="Contribution Amount"
                                            type="text"
                                        >
                                        <span class="input-group-addon">.00</span>
                                    </div><!-- input-group -->
                                </div><!-- form-group -->
                            </div><!-- col -->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Your Email Address</label>
                                    <input
                                        [(ngModel)]="payment.user.email"
                                        class="form-control"
                                        name="email"
                                        type="text"
                                        placeholder="Email Address"
                                    >
                                </div><!-- form-group -->
                            </div><!-- col -->
                        </div><!-- row -->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Your First Name</label>
                                    <input
                                        [(ngModel)]="payment.user.first_name"
                                        class="form-control"
                                        name="first_name"
                                        type="text"
                                        placeholder="First Name"
                                    >
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Your Last Name</label>
                                    <input
                                        [(ngModel)]="payment.user.last_name"
                                        class="form-control"
                                        name="last_name"
                                        type="text"
                                        placeholder="Last Name"
                                    >
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Your Card Information</label>
                                    <div id="card-element" class="field"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button
                            class="btn btn-primary"
                            type="submit"
                        >Submit Payment <i class="fa fa-angle-right"></i></button>
                        <!-- <i class="fa fa-spinner fa-spin"></i> -->
                    </div><!-- card-body -->
                </div><!-- card -->
            </form>
            <!-- End Pay -->

        </div><!-- col -->
    </div><!-- row -->
</div><!-- animated -->
