<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-6">
            <h1>Crowdfunding Done Right</h1>
            <p>Need to raise funds? <strong>{{ env.app_name }}</strong> users walk away with hundreds of dollars more than they would with other crowdfunding platforms. <strong>{{ env.app_name }}</strong> will also help you promote your campaign for free. <a routerLink="/about">Click here to learn more</a> or click below to get started. It's quick and easy.
            <p>
                <a
                    class="btn btn-primary"
                    routerLink="campaigns/new"
                ><i class="icon-plus"></i> Create Campaign</a>
            </p>
            <br>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h2>New Campaigns</h2>
            <div class="tiles">
                <div class="tile" *ngFor="let campaign of campaigns">
                    <div class="card">
                        <div class="card-body">
                            <div>
                                <a href="{{ env.seo_url }}/c/{{ campaign.id }}">
                                    <h3>{{ campaign.title }}</h3>
                                    <img
                                        *ngIf="campaign.image"
                                        alt="{{ campaign.image.title }}"
                                        class="img-fluid img-thumbnail"
                                        src="{{ campaign.image.web_url }}-/scale_crop/500x250/center/"
                                    >
                                </a>
                            </div>
                            <br>
                            <table *ngIf="campaign.monetary_total > 0">
                                <tbody>
                                    <tr>
                                        <th>Raised:</th>
                                        <td>
                                            ${{ campaign.monetary_total }}
                                            <span *ngIf="campaign.monetary_goal">/ ${{ campaign.monetary_goal }}</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Backers:</th>
                                        <td>{{ campaign.backers_count }}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <br>
                            <div
                                *ngIf="campaign.monetary_goal && campaign.monetary_total > 0"
                                class="progress"
                            >
                                <div
                                    class="progress-bar"
                                    role="progressbar"
                                    aria-valuenow="60"
                                    aria-valuemin="0"
                                    aria-valuemax="100"
                                    [ngStyle]="{ width: campaign.percent_raised + '%' }"
                                >{{ campaign.percent_raised }}% Funded</div>
                            </div>
                            <div *ngIf="campaign.monetary_total == 0">
                                <a href="{{ env.seo_url }}/c/{{ campaign.id }}">
                                    Be the first to support this campaign <i class="fa fa-angle-right"></i>
                                </a>
                            </div>
                        </div><!-- card-body -->
                    </div><!-- card -->
                </div><!-- tile -->
            </div><!-- tiles -->
        </div><!-- col -->
    </div><!-- row -->
</div><!-- animated -->
