<div class="app flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-xl-6">
                <div class="card-group mb-0">
                    <div class="card p-4">
                        <div class="card-body">
                            <form
                                (ngSubmit)="onSubmit()"
                                #loginForm="ngForm"
                            >
                            <h1 class="pb-4 text-center">
                                <img
                                    alt="FunderCat"
                                    class="img-fluid"
                                    src="/assets/img/logo.png"
                                    style="max-width: 250px;"
                                >
                            </h1>
                            <div class="input-group mb-3"> <span class="input-group-addon">
                                <i class="icon-user"></i>
                            </span>
                            <input
                                type="email"
                                placeholder="E-mail"
                                class="form-control"
                                name="email"
                                autofocus="autofocus"
                                required="required"
                                email="email"
                                ngModel
                            > </div>
                            <div class="input-group mb-4"> <span class="input-group-addon">
                                <i class="icon-lock"></i>
                            </span>
                            <input
                                type="password"
                                placeholder="Password"
                                class="form-control"
                                name="password"
                                required="required"
                                minlength="8"
                                ngModel
                            > </div>
                            <div class="row">
                                <div class="col-6">
                                    <button
                                        type="submit"
                                        class="btn btn-primary px-4"
                                        [disabled]="!loginForm.form.valid"
                                    > Login </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
