<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <form (ngSubmit)="onSubmit()" #userForm="ngForm">
        <div class="card">
          <div class="card-header">
            <strong>
              <span *ngIf="user.id">
              #{{ user.id }}
              -
              </span>
              {{ user.name }}
            </strong>
            <div class="card-actions" *ngIf="user.id">
              <a (click)="onDelete()">
                <i class="fa fa-remove cursor-pointer"></i>
              </a>
            </div>
          </div>
          <div class="card-body">
            <div class="form-group">
              <label for="first_name">First Name</label>
              <input [(ngModel)]="user.first_name"
                     name="first_name"
                     id="first_name"
                     type="text"
                     class="form-control"
                     placeholder="Enter First name"
                     required />
            </div>
            <div class="form-group">
              <label for="last_name">Last Name</label>
              <input [(ngModel)]="user.last_name"
                     name="last_name"
                     id="last_name"
                     type="text"
                     class="form-control"
                     placeholder="Enter Last name"
                     required />
            </div>
            <div class="form-group">
              <label for="email">E-mail</label>
              <input [(ngModel)]="user.email"
                     name="email"
                     id="email"
                     type="text"
                     class="form-control"
                     placeholder="Enter E-mail address"
                     email
                     required />
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input [(ngModel)]="user.password"
                     name="password"
                     id="password"
                     type="text"
                     class="form-control"
                     placeholder="(Leave empty to stay the same)" />
            </div>
            <div class="form-group">
              <label for="role_id">Role</label>
              <select [(ngModel)]="user.role_id"
                      id="role_id"
                      class="form-control"
                      name="role_id"
                      required>
                <option value="1">User</option>
                <option value="2">Admin</option>
              </select>
            </div>
          </div>
          <div class="card-footer text-right">
            <button type="submit" class="btn btn-primary px-4" [disabled]="!userForm.form.valid">
              Save
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
