<div *ngIf="campaign" class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <h1>Admin Dashboard</h1>
            <div class="btn-group">
                <a
                    *ngFor="let section of sections; let i = index;"
                    [ngClass]="{ 'active': i == sectionIndex }"
                    (click)="changeSection(i)"
                    class="btn btn-default"
                ><i class="fa fa-{{ section.icon }}"></i> {{ section.name }}</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">

            <!-- Statistics -->
            <div *ngIf="sections[sectionIndex].name == 'Statistics'" class="card">
                <div class="card-header">
                    <h2><i class="fa fa-{{ sections[sectionIndex].icon }}"></i> Statistics</h2>
                </div>
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <th>Total Campaigns</th>
                            <td>{{ '//' }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- End Statistics -->

            <!-- Payments -->
            <div *ngIf="sections[sectionIndex].name == 'Tools'">

            </div>
            <!-- End Payments -->

        </div>
    </div>
</div><!-- animated -->
