<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa icon-users"></i> Users
                    <div class="card-actions">
                        <a routerLink="/users/new">
              <i class="fa icon-plus"></i>
            </a>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Email</th>
                                <th>First</th>
                                <th>Last</th>
                                <th>Status</th>
                                <th>Tools</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of users">
                                <td>{{ user.id }}</td>
                                <td>
                                    <a routerLink="/users/{{ user.id }}">{{ user.email }}</a>
                                </td>
                                <td>{{ user.first_name }}</td>
                                <td>{{ user.last_name }}</td>
                                <td>
                                    <span class="badge badge-success">Active</span>
                                </td>
                                <td>
                                    <a
                                        class="btn btn-default"
                                        routerLink="/methods/loginAsUser/{{ user.id }}"
                                    >Login</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
