<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-6">
            <h1>About <strong>{{ env.app_name }}</strong></h1>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/grvGWcS3n9c?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <p><strong>{{ env.app_name }}</strong> aims to become the world's leading crowdfunding platform, empowering anyone to raise money. Whether you're trying to develop a new product, create a work of art, or support a charitable cause, <strong>{{ env.app_name }}</strong> will become your all-in-one solution.</p>
            <h2>Empowering <strong>You</strong></h2>
            <p>Hosting your fundraising campaign with <strong>{{ env.app_name }}</strong> will help you:</p>
            <ul>
                <li>
                    <h3>Make More Money</h3>
                    <p>
                        Running a fundraising campaign is completely free, and when you collect your money, because <strong>{{ env.app_name }}</strong> has one of the lowest processing fees available, you'll make hundreds more than you would with other crowdfunding platforms.
                    </p>
                    <table class="table" id="price-comparison-chart">
                        <tbody>
                            <tr>
                                <th style="width:100px;">
                                    <img src="/assets/img/competitors/kickstarter.png" alt="Kickstarter">
                                </th>
                                <td>
                                    3% Payment Processing Fee + 5% Additional Charge
                                    <div class="bar" style="width: 100%"></div>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <img src="/assets/img/competitors/indiegogo.png" alt="Indiegogo">
                                </th>
                                <td>
                                    3% Payment Processing Fee + 5% Additional Charge
                                    <div class="bar" style="width: 100%"></div>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <img src="/assets/img/competitors/gofundme.png" alt="GoFundMe">
                                </th>
                                <td>
                                    3% Payment Processing Fee + 5% Additional Charge
                                    <div class="bar" style="width: 100%"></div>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <img src="/assets/img/logo.png" alt="<strong>{{ env.app_name }}</strong>">
                                </th>
                                <td>
                                    3% Payment Processing Fee
                                    <div class="bar" style="width: 37.5%"></div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                </li>
                <li>
                    <h3>Advertise Your Product, Service, or Cause</h3>
                    <p>
                        Early adopters of <strong>{{ env.app_name }}</strong> will be featured on the home page, helping you spread your word.
                    </p>
                </li>
                <li>
                    <h3>Grow and Connect to Your Audience</h3>
                    <p>
                        Upcoming features will include social media tools, blogging, automatic mailing lists, live video integration, and more to keep your audience engaged.
                    </p>
                </li>
                <li>
                    <h3>Do it Your Way</h3>
                    <p>
                        Need to raise money fast? Want to take your time? Want to play it safe or wager an all-or-nothing? <strong>{{ env.app_name }}</strong> aims to be more flexibile than other crowdfunding platforms. We're here to help you succeed.
                    </p>
                </li>
            </ul>
            <h2>Get Started</h2>
            <p>Creating a fundraising campaign is quick, easy, and free. You can put your campaing live whenever you're ready.</p>
            <p>
                <a
                    class="btn btn-primary"
                    routerLink="/campaigns/new"
                >Create Campaign <i class="fa fa-angle-right"></i></a>
            </p>
            <br>
            <h2>History</h2>
            <p><strong>{{ env.app_name }}</strong> was created by Stephen Gashler in 2018. After contributing to many crowdfunding campaigns and running several of his own, he saw how difficult it can be to successfully raise funds. He built <strong>{{ env.app_name }}</strong> with the hope of offering a more affordable, effective, and customizable solution to crowdfunding. His goal is to help others get the funding they need to achieve their dreams.</p>
            <p>And yes, the name was inspired by the 1980's cartoon, Thundercats, one of the greatest shows of all time. THUNDERCATS, HOOOOOOOOOOOO!</p>
        </div><!-- col -->
    </div><!-- row -->
</div><!-- animated -->
