<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <h1>My Financial Information</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div *ngIf="!user.stripe_account">
                <p>Please enter your financial information so that {{ env.app_name }} can send you your money.</p>
                <a
                    href="https://connect.stripe.com/express/oauth/authorize?client_id=ca_CxsP9cW6l2OQUsY1poNHQZTazfnnG13y&state={{ user.id }}"
                    class="btn btn-primary"
                ><i class="fa icon-plus"></i> Enter Financial Information</a>
            </div>
            <div *ngIf="user.stripe_account">
                <a
                    class="btn btn-primary"
                    href="{{ user.stripe_account.dashboard_url }}"
                    target="_blank"
                ><i class="fa fa-pencil"></i> Edit Financial Information</a>
            </div>
        </div><!-- col -->
    </div><!-- row -->
</div><!-- animated -->
