<footer class="app-footer">
    <a routerLink="/">Home</a> &nbsp;|&nbsp;
    <a routerLink="/about">About</a> &nbsp;|&nbsp;
    <a routerLink="/contact">Contact</a>
    <small class="pull-right">&copy; FunderCat 2018</small>
</footer>
