<div class="sidebar-footer">
    <!-- <a *ngIf="!user" class="nav-link" (click)="login()" [routerLink]="['/login']"><i class="icon-login"></i> Login</a>
    <a *ngIf="user" class="nav-link" (click)="logout()"><i class="icon-logout"></i> Logout</a> -->
</div>
