<header class="app-header navbar">
    <button class="navbar-toggler d-lg-none" type="button" appMobileSidebarToggler>&#9776;</button>
    <a
        class="navbar-brand"
        href="#"
    ></a>
    <!-- <button class="navbar-toggler d-md-down-none mr-auto" type="button" appSidebarMinimizer>&#9776;</button> -->
    <span *ngIf="user">
        <button
            appAsideMenuToggler
            class="navbar-toggler"
            type="button"
        ><i class="icon-user"></i> <span class="hide-xs">{{ user.first_name }}</span></button>
    </span>
    <a
        *ngIf="!user"
        class="nav-link"
        [routerLink]="['/login']"
    ><i class="icon-login"></i> Login</a>
</header>
