<div *ngIf="campaign" class="animated fadeIn">
    <div
        *ngIf="user && user.id == campaign.user_id"
        class="row"
        id="campaignToolbarWrapper"
    >
        <div class="col-md-12">
            <div class="align-center" id="campaignToolbar">
                <div>
                    <span class="muted">Campaign Dashboard:&nbsp;</span>
                    <a
                        routerLink="/campaigns/{{ campaign.id }}/dashboard"
                        class="btn btn-default"
                    ><i class="fa fa-dashboard"></i></a>
                </div>
                <div>
                    <span class="muted">Edit Campaign:&nbsp;</span>
                    <a
                        routerLink="/campaigns/{{ campaign.id }}/edit"
                        class="btn btn-default"
                    ><i class="fa fa-pencil"></i></a>
                </div>
                <div>
                    <span class="muted">
                        <span *ngIf="!campaign.live">
                            Activate Campaign:&nbsp;
                        </span>
                        <span *ngIf="campaign.live">
                            Campaign is Live:&nbsp;
                        </span>
                    </span>
                    <label class="switch switch-3d switch-success">
                        <input
                            [(ngModel)]="campaign.live"
                            (change)="toggleLive()"
                            class="switch-input"
                            type="checkbox"
                        >
                        <span class="switch-label"></span>
                        <span class="switch-handle"></span>
                    </label>
                </div>
            </div>
        </div><!-- campaignToolbar -->
    </div><!-- campaignToolbarWrapper -->
    <div class="row">

        <!-- Campaign Detail -->
        <div class="col-sm-12 col-md-8">

            <!-- links -->
            <div *ngIf="campaign.links && campaign.links.length > 0" class="pull-right">
                <span *ngFor="let link of campaign.links">
                    <a
                        *ngIf="link.key !== 'youtube'"
                        class="btn btn-default"
                        href="{{ link.value }}"
                        target="_blank"
                    ><i class="fa fa-{{ link.key }}"></i></a>
                </span>
            </div>
            <!-- links -->

            <h1>{{ campaign.title }}</h1>
            <p>{{ campaign.short_description }}</p>
            <div *ngIf="campaign.video" class="videoWrapper">
                <iframe
                    width="560"
                    height="315"
                    [(src)]="campaign.video.safe_url"
                    frameborder="0"
                    allow="autoplay encrypted-media"
                    allowfullscreen
                ></iframe>
            </div>
            <img
                *ngIf="!campaign.video && campaign.image"
                src="{{ campaign.image.url }}"
                class="img-fluid full-width"
            >

            <!-- Images -->
            <div *ngIf="campaign.images && (campaign.images.length > 1 || campaign.video)">
                <div class="inline-block" *ngFor="let image of campaign.images">
                    <a [href]="image.url" target="_blank">
                        <img
                            src="{{ image.url }}-/resize/200/200"
                            class="img-fluid img-thumbnail"
                        >
                    </a>
                </div>
            </div>
            <!-- End Images -->

            <br>
            <br>

            <!-- long-description -->
            <div innerHTML="{{ campaign.long_description }}"></div>
            <!-- end long-description -->

            <br>

            <!-- videos -->
            <div *ngFor="let link of campaign.links">
                <div *ngIf="link.key == 'youtube' && link.id !== campaign.video_id">
                    <div class="videoWrapper">
                        <iframe
                            width="560"
                            height="315"
                            [(src)]="link.safe_url"
                            frameborder="0"
                            allow="autoplay encrypted-media"
                            allowfullscreen
                        ></iframe>
                    </div>
                    <br>
                </div>
            </div>
            <!-- videos -->

            <!-- <share-buttons></share-buttons> -->

            <!-- Comments -->
            <div *ngIf="campaign.comments" class="card">
                <div class="card-header">
                    <h2><i class="fa icon-speech"></i> Comments</h2>
                </div>
                <div class="table table-striped">
                    <div
                        *ngFor="let comment of campaign.comments"
                        class="tr"
                    >
                        <div class="th">
                            {{ comment.user.username }}<br>
                            <img src="{{ comment.user.gravatar }}">
                        </div>
                        <div class="td">
                            <p>{{ comment.body }}</p>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <form
                        *ngIf="user"
                        (ngSubmit)="submitComment()"
                        #campaignForm="ngForm"
                        id="leaveComment"
                    >
                        <div class="form-group" id="leaveComment">
                            <textarea
                                [(ngModel)]="comment.body"
                                class="form-control"
                                name="body"
                                rows="5"
                            ></textarea>
                        </div>
                        <button class="btn btn-primary" type="submit">
                            Submit Comment
                        </button>
                    </form>
                    <p *ngIf="!user">
                        <a [routerLink]="['/login']">Log in</a> or <a [routerLink]="['/register']">register</a> to comment.
                    </p>
                </div>
            </div>
            <!-- End Comments -->

        </div>
        <!-- End Campaign Detail -->

        <!-- Sidebar -->
        <div class="col-sm-12 col-md-4">

            <!-- Pay -->
            <p>
                <a
                    routerLink="/payments/new/{{ campaign.id }}"
                    class="btn btn-primary full-width"
                >Support this Campaign <i class="fa fa-angle-right"></i></a>
            </p>
            <!-- End Pay -->

            <!-- Statistics -->
            <div class="card text-white bg-info align-center">
                <div class="card-body">
                    <div class="progress">
                        <div
                            class="progress-bar"
                            role="progressbar"
                            aria-valuenow="60"
                            aria-valuemin="0"
                            aria-valuemax="100"
                            [ngStyle]="{ width: campaign.percent_raised + '%' }"
                        ></div>
                    </div>
                    <div>
                        <div class="inline-block">
                            <div class="h1 mt-4 mb-0">${{ campaign.monetary_total }}</div>
                            <small class="text-muted text-uppercase font-weight-bold">Raised</small>
                        </div>
                        <div class="inline-block text-muted text-uppercase font-weight-bold" style="margin-top:33px;">&nbsp;of&nbsp;</div>
                        <div class="inline-block">
                            <div class="h1 mt-4 mb-0">${{ campaign.monetary_goal }}</div>
                            <small class="text-muted text-uppercase font-weight-bold">Goal</small>
                        </div>
                    </div>
                    <div>
                        <div class="inline-block">
                            <div class="h1 mt-4 mb-0">{{ campaign.percent_raised }}%</div>
                            <small class="text-muted text-uppercase font-weight-bold">Funded</small>
                        </div>
                        <div class="inline-block text-muted text-uppercase font-weight-bold" style="margin-top:33px;">&nbsp;by&nbsp;</div>
                        <div class="inline-block">
                            <div class="h1 mt-4 mb-0">{{ campaign.backers_count }}</div>
                            <small class="text-muted text-uppercase font-weight-bold">Backers</small>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Statistics -->

            <!-- Rewards -->
            <div *ngIf="campaign.rewards && campaign.rewards.length > 0">
                <h2>Backer Rewards</h2>
                <div *ngFor="let reward of campaign.rewards; let i = index" class="card">
                    <div class="card-header">
                        <strong>Contribute ${{ reward.amount }} or more</strong>
                    </div>
                    <div class="card-body">
                        <h4>{{ reward.title }}</h4>
                        <p>{{ reward.description }}</p>
                        <a
                            routerLink="/payments/new/{{ campaign.id }}/{{ i }}"
                            class="btn btn-primary"
                        ><i class="fa fa-check"></i> Select Reward</a>
                    </div>
                </div>
            </div>
            <!-- End Rewards -->

        </div>
        <!-- End Sidebar -->
    </div>
</div>
