<app-header></app-header>

<div class="app-body">
  <app-sidebar></app-sidebar>

  <main class="main">
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </main>

  <app-aside></app-aside>
</div>

<app-footer></app-footer>
