<div class="animated fadeIn">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-lg-7 col-xl-6">
            <h1>Create Campaign</h1>
            <form (ngSubmit)="onSubmit()" #userForm="ngForm">
                <h4>Step <span class="badge badge-secondary">{{ displayStep }}</span></h4>
                <div class="card">
                    <div class="card-header">
                        <strong><i class="fa icon-user"></i> Set up your free account</strong>
                    </div>
                    <div class="card-body">
                        <p>Already have an account? <a [routerLink]="['/users']">Click here to log in</a>.</p>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="first_name">First Name</label>
                                    <input [(ngModel)]="user.first_name" name="first_name" id="first_name" type="text" class="form-control" placeholder="Enter First name" required />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="last_name">Last Name</label>
                                    <input [(ngModel)]="user.last_name" name="last_name" id="last_name" type="text" class="form-control" placeholder="Enter Last name" required />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="email">E-mail</label>
                                    <input [(ngModel)]="user.email" name="email" id="email" type="text" class="form-control" placeholder="Enter E-mail address" email required />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input [(ngModel)]="user.password" name="password" id="password" type="password" class="form-control" placeholder="Enter new password" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-right">
                        <button type="submit" class="btn btn-primary px-4" [disabled]="!userForm.form.valid">
                            Next <i class="fa fa-angle-right"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>
