<p *ngIf="method == 'edit' && (user.role !== 'admin' && campaign && campaign.user_id !== user.id)">
    You don't have access to this campaign.
</p>
<div *ngIf="method == 'create' || (campaign && campaign.user_id == user.id || user.role == 'admin')" class="animated fadeIn">
    <h1>
        <span *ngIf="!campaign.title">Create Fundraising Campaign</span>
        <span *ngIf="campaign.title">{{ campaign.title }}</span>
    </h1>
    <div class="btn-group">
        <a
            *ngIf="campaign.id"
            class="btn btn-default"
            routerLink="/campaigns/{{ campaign.id }}/dashboard/0"
        ><i class="icon-speedometer"></i></a>
        <a
            *ngIf="campaign.id"
            class="active btn btn-default"
            routerLink="/campaigns/{{ campaign.id }}/edit"
        ><i class="icon-pencil"></i></a>
        <a
            *ngIf="campaign.id && !campaign.live"
            class="btn btn-default"
            routerLink="/campaigns/{{ campaign.id }}"
        ><i class="icon-eye"></i></a>
        <a
            *ngIf="campaign.id && campaign.live"
            class="btn btn-default"
            href="{{ env.seo_url }}/c/{{ campaign.id }}"
        ><i class="icon-eye"></i></a>
    </div>
    <div *ngIf="method == 'create'">
        <h4>Step <span class="badge badge-secondary">{{ displayStep }}</span></h4>
    </div>
    <div *ngIf="method == 'edit'">
        <div class="btn-group">
            <a
                *ngFor="let step of steps; let i = index"
                (click)="changeStep(i)"
                [ngClass]="{'active': stepIndex == i}"
                class="btn btn-default"
            >
                <i class="icon-{{ step.icon }}"></i> {{ step.name }}
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-lg-7 col-xl-6">

            <!-- Campaign Details -->
            <form *ngIf="stepIndex == 0" (ngSubmit)="submitCampaign()" #campaignForm="ngForm">
                <div class="card">
                    <div class="card-header">
                        <strong>
                            <i class="fa fa-list-ul"></i> Describe Your Campaign
                        </strong>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="name">Campaign Title</label>
                            <input
                                [(ngModel)]="campaign.title"
                                name="title"
                                id="name"
                                type="text"
                                class="form-control"
                                placeholder="Enter campaign title"
                                required
                            >
                        </div>
                        <div class="form-group">
                            <label for="name">Brief Description</label>
                            <textarea
                                [(ngModel)]="campaign.short_description"
                                name="short_description"
                                class="form-control"
                                placeholder="Briefly describe your campaign in one sentence."
                                required
                            ></textarea>
                        </div>
                        <div class="form-group">
                            <label for="name">Long Description</label>
                            <!-- <textarea
                                [(ngModel)]="campaign.long_description"
                                class="form-control"
                                rows="10"
                                name="long_description"
                                placeholder="Describe your campaign in detail."
                                required
                            ></textarea> -->
                            <editor
                                apiKey="wy6w6yie2l1ez44mx0bhfmsd70i1zzfw4mx3ubyj1gb4cp5y"
                                [(ngModel)]="campaign.long_description"
                                name="long_description"
                                [init]="{plugins: ['link', 'lists']}"
                            ></editor>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div *ngIf="this.method == 'create'" class="text-right">
                            <button
                                [disabled]="!campaignForm.form.valid"
                                class="btn btn-primary px-4"
                                type="submit"
                            >Next <i class="fa fa-angle-right"></i></button>
                        </div>
                        <div *ngIf="this.method == 'edit'" class="align-center">
                            <button
                                [disabled]="!campaignForm.form.valid"
                                class="btn btn-primary px-4"
                                type="submit"
                            >Save</button>
                        </div>
                    </div><!-- card-footer -->
                </div>
                <!-- card -->
            </form>
            <!-- end Campaign Details -->

            <!-- media -->
            <div *ngIf="stepIndex == 1">
                <div class="card">
                    <div class="card-header">
                        <strong>
                            <i class="fa icon-picture"></i> Campaign Media
                        </strong>
                    </div>
                    <div class="card-body">
                        <label>Images</label>
                        <div clas="form-group">
                            <div
                                *ngFor="let image of campaign.images; let i = index;"
                                class="hover-controls float-left col-sm-6 col-md-3 mb-4"
                            >
                                <button
                                    (click)="onDeleteImage(image)"
                                    class="btn btn-small btn-outline-danger hover-control"
                                >
                                    <i class="fa fa-remove cursor-pointer"></i>
                                </button>
                                <a [href]="image.url" target="_blank">
                                    <img
                                        src="{{ campaign.images[i].url }}-/resize/100/100"
                                        class="img-fluid img-thumbnail"
                                    >
                                </a>
                            </div>
                        </div>
                        <div style="clear: both"></div>
                        <div class="form-group">
                            <div>
                                <input
                                    type="hidden"
                                    id="file"
                                    name="file"
                                    role="uploadcare-uploader"
                                    data-crop="1920:1080"
                                    data-images-only
                                >
                            </div>
                            <!-- <input type="file" (change)=fileEvent($event)> -->
                        </div>
                        <div class="form-group">
                            <label>Links</label>
                            <div class="input-group">
                                <select [(ngModel)]="linkTypeIndex" class="form-control">
                                    <option
                                        *ngFor="let linkType of linkTypes; let i = index"
                                        [value]="i"
                                    >{{ linkType.name }}</option>
                                </select>
                                <button (click)="addLinkForm()" class="btn btn-default">
                                    <i class="fa icon-plus"></i> Add Link
                                </button>
                            </div>
                        </div>
                        <div class="form-group">
                            <div
                                *ngFor="let link of campaign.links; let i = index"
                                class="input-group"
                            >
                                <span class="input-group-addon">
                                    <i class="fa fa-{{ link.key }}"></i>
                                </span>
                                <input
                                    [(ngModel)]="link.value"
                                    [placeholder]="link.placeholder"
                                    class="form-control"
                                    name="value"
                                    type="text"
                                >
                                <a
                                    (click)="detach('links', link, i)"
                                    class="cursor-pointer input-group-addon"
                                >
                                    <i class="fa fa-remove"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <form (ngSubmit)="storeMedia()" #campaignForm="ngForm">
                            <div *ngIf="this.method == 'create'" class="text-right">
                                <button
                                    [disabled]="!campaignForm.form.valid"
                                    class="btn btn-primary px-4"
                                    type="submit"
                                >Next <i class="fa fa-angle-right"></i></button>
                            </div>
                            <div *ngIf="this.method == 'edit'" class="align-center">
                                <button
                                    [disabled]="!campaignForm.form.valid"
                                    class="btn btn-primary px-4"
                                    type="submit"
                                >Save</button>
                            </div>
                        </form>
                    </div><!-- card-footer -->
                </div>
            </div>
            <!-- end media -->

            <!-- fundraising -->
            <div *ngIf="stepIndex == 2">
            <!-- <form (ngSubmit)="finish()" #fundraisingForm="ngForm"> -->
                <div class="card">
                    <div class="card-header">
                        <i class="icon-wallet"></i> Fundraising Goals
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Fundraising Goal</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-dollar"></i>
                                        </span>
                                        <input
                                            [(ngModel)]="campaign.monetary_goal"
                                            class="form-control"
                                            name="monetary_goal"
                                            placeholder="10,000"
                                            type="text"
                                        >
                                        <span class="input-group-addon">.00</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Campaign Duration</label>
                                    <select
                                        [(ngModel)]="campaign.days"
                                        name="days"
                                        class="form-control"
                                    >
                                        <option value="30">30 Days</option>
                                        <option value="60">60 Days</option>
                                        <option value="">Open-ended</option>
                                    </select>
                                </div>
                            </div>
                        </div><!-- row -->
                    </div><!-- card-body -->
                    <div class="card-footer">
                        <div *ngIf="this.method == 'create'" class="text-right">
                            <button
                                (click)="onSubmitFundraisingGoals()"
                                class="btn btn-primary px-4"
                                type="submit"
                            >Next <i class="fa fa-angle-right"></i></button>
                        </div>
                        <div *ngIf="this.method == 'edit'" class="align-center">
                            <button
                                (click)="onSubmitFundraisingGoals()"
                                class="btn btn-primary px-4"
                                type="submit"
                            >Save</button>
                        </div>
                    </div><!-- card-footer -->
                </div><!-- card -->
            </div>
            <!-- </form> -->
            <!-- end fundraising -->

            <!-- Rewards -->
            <div *ngIf="stepIndex == 3" class="card">
                <div class="card-header">
                    <h2><i class="fa icon-present"></i> Rewards (optional)</h2>
                </div>
                <div class="card-body">
                    <p>Incentivize people to support your campaign by offering rewards.</p>
                    <div class="row">
                        <div class="col-md-12">
                            <div
                                *ngFor="let reward of campaign.rewards; let i = index;"
                                class="card"
                            >
                                <div class="card-header">
                                    <strong>Reward {{ i + 1 }}</strong>
                                    <div class="card-actions" *ngIf="campaign.id">
                                        <a
                                            (click)="detach('rewards', reward, i)"
                                            class="cursor-pointer"
                                        >
                                            <i class="fa fa-remove"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Minimum Contribution</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-dollar"></i>
                                                    </span>
                                                    <input
                                                        [(ngModel)]="reward.amount"
                                                        class="form-control"
                                                        name="amount"
                                                        placeholder="100"
                                                        type="text"
                                                    >
                                                    <span class="input-group-addon">.00</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Title</label>
                                        <input
                                            [(ngModel)]="reward.title"
                                            class="form-control"
                                            name="title"
                                            placeholder="Reward Title"
                                            type="text"
                                        >
                                    </div>
                                    <div class="form-group">
                                        <label>Description</label>
                                        <textarea
                                            [(ngModel)]="reward.description"
                                            class="form-control"
                                            name="description"
                                            placeholder="Describe the reward in one sentence."
                                        ></textarea>
                                    </div><!-- form-group -->
                                </div><!-- card-body -->
                            </div><!-- card -->
                            <div class="form-group">
                                <div class="input-group">
                                    <button
                                        (click)="addRewardForm()"
                                        class="btn btn-default"
                                        type="button"
                                    >
                                        <i class="fa icon-plus"></i> Add Reward
                                    </button>
                                </div><!-- input-group -->
                            </div><!-- form-group -->
                        </div><!-- col -->
                    </div><!-- row -->
                </div><!-- card-body -->
                <div class="card-footer">
                    <div *ngIf="this.method == 'create'" class="text-right">
                        <button
                            (click)="onSubmitRewards()"
                            class="btn btn-primary px-4"
                            type="submit"
                        >Next <i class="fa fa-angle-right"></i></button>
                    </div>
                    <div *ngIf="this.method == 'edit'" class="align-center">
                        <button
                            (click)="onSubmitRewards()"
                            class="btn btn-primary px-4"
                            type="submit"
                        >Save</button>
                    </div>
                </div><!-- card-footer -->
            </div>
            <!-- end Rewards -->

        </div><!-- col -->
    </div><!-- row -->
</div><!-- animated -->
