<div *ngIf="payment" class="animated fadeIn">
    <div *ngIf="!user.has_password || user.has_password && step == 2">
        <h1>Payment Complete</h1>
        <p>Thank you for supporting <strong>{{ payment.campaign.title }}</strong>, hosted by {{ payment.campaign.user.name }}.</p>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-7 col-lg-6 col-xl-5">

            <!-- password -->
            <form *ngIf="step == 1" (ngSubmit)="submitPassword()" #passwordForm="ngForm">
                <div class="card">
                    <div class="card-header">
                        <h2><i class="fa fa-lock"></i> Create Password (optional)</h2>
                    </div>
                    <div class="card-body">
                        <p>Add a password to keep your account secure.</p>
                        <div class="form-group">
                            <div class="input-group mb-4">
                                <span class="input-group-addon"><i class="icon-lock"></i></span>
                                <input
                                    [(ngModel)]="user.password"
                                    class="form-control"
                                    minlength="8"
                                    name="password"
                                    placeholder="Enter a new password"
                                    required
                                    type="password"
                                >
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group mb-4">
                                <span class="input-group-addon"><i class="icon-lock"></i></span>
                                <input
                                    [(ngModel)]="user.c_password"
                                    class="form-control"
                                    minlength="8"
                                    name="c_password"
                                    placeholder="Confirm the password"
                                    required
                                    type="password"
                                >
                            </div>
                        </div>
                    </div><!-- card-body -->
                    <div class="card-footer">
                        <button
                            (click)="skipPassword()"
                            class="btn btn-default"
                            type="button"
                        >Skip</button>
                        <button
                            [disabled]="!passwordForm.form.valid"
                            class="btn btn-primary px-4"
                            type="submit"
                        >Next <i class="fa fa-angle-right"></i></button>
                    </div><!-- card-footer -->
                </div><!-- card -->
            </form>
            <!-- End Password -->

            <!-- Preferences -->
            <form *ngIf="step == 2" (ngSubmit)="submitPreferences()" #userForm="ngForm">
                <div class="card">
                    <div class="card-header">
                        <h2><i class="fa fa-sliders"></i> Your Preferences (optional)</h2>
                    </div>
                    <div class="card-body">
                        <label>How would you like your contribution to appear?</label>
                        <div class="form-group">
                            <label>
                                <input
                                    [(ngModel)]="payment.anonymous"
                                    [value]="false"
                                    name="anonymous"
                                    type="radio"
                                >
                                Display my name
                            </label>
                            <br>
                            <label>
                                <input
                                    [(ngModel)]="payment.anonymous"
                                    [value]="true"
                                    name="anonymous"
                                    type="radio"
                                >
                                I wish to remain anonymous
                            </label>
                        </div>
                        <div class="form-group">
                            <table>
                                <tr *ngFor="let subscription of subscriptions; let i = index;">
                                    <td>
                                        <label class="switch switch-3d switch-success">
                                            <input
                                                [(ngModel)]="subscription.subscribed"
                                                [checked]="subscription.subscribed"
                                                [value]="true"
                                                class="switch-input"
                                                id="subscription-{{ i }}"
                                                name="subscriptions[{{ i }}].subscribed"
                                                type="checkbox"
                                            >
                                            <span class="switch-label"></span>
                                            <span class="switch-handle"></span>
                                        </label>
                                    </td>
                                    <td>
                                        <label for="subscription-{{ i }}">&nbsp;{{ subscription.description }}</label>
                                    </td>
                                </tr>
                            </table>
                        </div><!-- form-group -->
                    </div><!-- card-body -->
                    <div class="card-footer">
                        <button
                            class="btn btn-primary"
                            type="submit"
                        >Next <i class="fa fa-angle-right"></i></button>
                    </div><!-- card-footer -->
                </div><!-- card -->
            </form>
            <!-- End Preferences -->

            <!-- Preferences -->
            <form *ngIf="step == 3" (ngSubmit)="submitComment()" #campaignForm="ngForm">
                <div class="card">
                    <div class="card-header">
                        <h2><i class="fa icon-speech"></i> Leave a Comment (optional)</h2>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <p>Have questions, suggestions, or praise for <strong>{{ payment.campaign.title }}</strong>? Please share your thoughts!</p>
                            <textarea
                                [(ngModel)]="comment.body"
                                class="form-control"
                                name="body"
                                rows="5"
                            ></textarea>
                        </div>
                    </div><!-- card-body -->
                    <div class="card-footer">
                        <button
                            (click)="progressStep()"
                            class="btn btn-default"
                            type="button"
                        >Skip</button>
                        <button
                            class="btn btn-primary"
                            type="submit"
                        >Next <i class="fa fa-angle-right"></i></button>
                    </div><!-- card-footer -->
                </div><!-- card -->
            </form>
            <!-- End Preferences -->

            <!-- Preferences -->
            <div *ngIf="step == 4">
                <div class="card">
                    <div class="card-header">
                        <h2><i class="fa icon-users"></i> Share this Campaign (optional)</h2>
                    </div>
                    <div class="card-body">
                        <p>After contributing, the most important thing you can do to help this campaign succeed is to share it on social media. Please take a moment to share the following URL:</p>
                        <div>
                            <figure class="highlight">
                                {{ env.seo_url }}/c/{{ payment.campaign?.id }}
                            </figure>
                        </div>
                        <div class="social-buttons">
                            <a href="https://facebook.com" target="_blank">
                                <i class="fa fa-facebook-square"></i>
                            </a>
                            <a href="https://instagram.com" target="_blank">
                                <i class="fa fa-instagram"></i>
                            </a>
                            <a href="https://twitter.com" target="_blank">
                                <i class="fa fa-twitter-square"></i>
                            </a>
                            <a href="https://plus.google.com" target="_blank">
                                <i class="fa fa-google-plus-square"></i>
                            </a>
                            <a href="https://linkedin.com" target="_blank">
                                <i class="fa fa-linkedin-square"></i>
                            </a>
                            <a href="https://pinterest.com" target="_blank">
                                <i class="fa fa-pinterest-square"></i>
                            </a>
                        </div>
                    </div><!-- card-body -->
                    <div class="card-footer">
                        <button
                            (click)="progressStep()"
                            class="btn btn-default"
                            type="submit"
                        >Skip</button>
                        <button
                            (click)="progressStep()"
                            class="btn btn-primary"
                            type="submit"
                        >Next <i class="fa fa-angle-right"></i></button>
                    </div><!-- card-footer -->
                </div><!-- card -->
            </div>
            <!-- End Preferences -->

            <!-- Preferences -->
            <div *ngIf="step == 5">
                <h2>You're All Done!</h2>
                <p>Thank you for making a difference.</p>
                <div class="card">
                    <div class="card-header">
                        <h2><i class="fa icon-plus-square"></i> Create Your Own Campaign (optional)</h2>
                    </div>
                    <div class="card-body">
                        <p>Need to raise money? {{ env.app_name }} helps you make more money than its competitors. Getting started is quick, easy, and free. Just click on the button below:</p>
                        <p>
                                <a
                                class="btn btn-primary"
                                routerLink="/campaigns/new"
                            >Create Campaign <i class="fa fa-angle-right"></i></a>
                        </p>
                        <p>Not interested? There are countless other campaigns out there that need your support.</p>
                        <a
                            class="btn btn-primary"
                            routerLink="/"
                        >See More Campaigns <i class="fa fa-angle-right"></i></a>
                    </div><!-- card-body -->
                </div><!-- card -->
            </div>
            <!-- End Preferences -->

        </div><!-- col -->
    </div><!-- row -->
</div><!-- animated -->
