#campaignToolbarWrapper {
    height: 75px;
}

#campaignToolbar {
    padding: 1em .5em;
    background: rgb(96,96,96);
    color: white;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 58px;
    left: 0;
    right: 0;
    z-index: 1;
    div {
        margin: 0 .5em;
        display: flex;
        align-items: center;
        > label {
          margin-bottom: 0;
        }
    }
    .btn-default {
        background: white;
        color: black;
        border-radius: 4px;
        padding: 5px 10px;
    }
    .muted {
        opacity: .66;
    }
}
