a h1, a h2, a h3, a h4, a h5, a h6 { color: black; }
li {
    h3 {
        color: rgb(255,128,0);
        font-size: 1em;
        font-weight: bold;
        margin: 0;
    }
    margin-bottom: .5em;
}
figure {
    padding: 1em;
    background: rgba(0,0,0,.025);
    border: 1px solid rgba(0,0,0,.075);
}
td, th { vertical-align: top; }
.align-center { text-align: center; }
.btn-primary { color: white; font-weight: bold; }
.btn-primary:hover { color: white; font-weight: bold; }
.btn-default {
    background-color: #f9f9fa;
    border: 1px solid #e1e6ef;
    color: black;
    cursor: pointer;
}
.btn-default:hover {
    background-color: white;
}
.btn-default.active {
    background: rgb(225,225,225);
    box-shadow: 0 1px 4px rgba(0,0,0,.1) inset;
}
.btn-group {
    margin-bottom: 1em;
}
.card h1, .card h2, .card h3, .card h4, .card h5, .card h6 {
    font-size: 1.25em;
    font-weight: bold;
}
.card-header h1, .card-header h2, .card-header h3, .card-header h4, .card-header h5, .card-header h6 {
    font-size: 1em;
    font-weight: bold;
    margin: 0;
}
.full-width { width: 100%; }
.hide
a.input-group-addon {
    display: block;
}
.inline-block {
    display: inline-block;
    vertical-align: top;
}
.social-buttons {
    font-size: 3em;
    display: flex;
    justify-content: center;
    a {
        margin: 1px;
    }
}
.tiles {
    display: flex;
    flex-wrap: wrap;
    .tile {
        padding-left: .5em;
        padding-right: .5em;
        display: flex;
    }
    @media (min-width: 1201px) {
        .tile {
            width: 25%;
        }
    }
    @media (max-width: 1200px) {
        .tile {
            width: 33%;
        }
    }
    @media (max-width: 900px) {
        .tile {
            width: 50%;
        }
    }
    @media (max-width: 600px) {
        .tile {
            width: 100%;
        }
    }
}
div.table {
    display: table;
    margin-bottom: 0;
    .tr {
        display: table-row;
        .td, .th {
            padding: 1em;
            display: table-cell;
        }
        .th {
            background: rgba(0,0,0,.025);
            font-weight: bold;
        }
    }
}
div.table-striped {
    .tr:nth-of-type(odd) {
        background:rgba(0,0,0,.025);
    }
}

#price-comparison-chart {
    background: white;
    img {
        max-width: 100px;
        width: 100%;
    }
    .bar {
        height: 5px;
        background: rgba(255,0,0,.5);
    }
    tr:last-child {
        background: rgba(0,255,0,.1);
        border-bottom: 1px solid rgba(0,0,0,.1);
        .bar {
            background: rgba(0,255,0,.5);
        }
    }
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

/* xs */
@media (max-width:350px) {
    .hide-xs { display: none; }
    .show-xs { display: inherit; }
}

/* sm */
@media (max-width:767px) {
    .hide-xs { display: none; }
    .show-sm { display: inherit; }
}

/* md */
@media (max-width:1009px) {
    .hide-md { display:none; }
    .show-md { display: inherit; }
}

/* lg */
@media (max-width:1199px) {
    .hide-md { display: none; }
    .show-lg { display: inherit; }
}

/* xl */
@media (min-width:1200px) {
    .show-xl { display: inherit; }
}
