.app-footer {
    a {
        color: gray;
    }
    a:hover {
        color: black;
    }
    display: block;
    min-height: $footer-height;
    padding: 0 $spacer;
    line-height: $footer-height;
    color: $footer-color;
    background: $footer-bg;
    @include borders($footer-borders);
}
