img.img-small {
  max-width: 200px;
}
.thumble-img-block {
  position: relative
}
.thumble-img-block .heart {
  position: absolute;
  right: 40px;
  top: 20px;
}
.thumble-img-block .heart img {
  border-radius: 50%;
}