<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-12">
            <p>
                <a class="btn btn-primary" routerLink="/campaigns/new">
                    <i class="fa icon-plus"></i> Create Campaign
                </a>
            </p>
            <div *ngIf="campaigns && campaigns.length > 0" class="card">
                <div class="card-header">
                    <i class="fa fa-campaigns"></i> Campaigns
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th *ngIf="user.role == 'admin'">ID</th>
                                <th>Title</th>
                                <th>Amount Raised</th>
                                <th>Backers</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let campaign of campaigns">
                                <td *ngIf="user.role == 'admin'">{{ campaign.id }}</td>
                                <td>
                                    <a routerLink="/campaigns/{{ campaign.id }}/dashboard/0">
                                        <img
                                            *ngIf="campaign.image"
                                            src="{{ campaign.image.web_url }}-/resize/50/50"
                                        >
                                        {{ campaign.title }}
                                    </a>
                                </td>
                                <td>
                                    {{ campaign.monetary_total | currency:'USD':'symbol' }} /
                                    {{ campaign.monetary_goal | currency:'USD':'symbol' }}
                                    ({{ campaign.percent_raised }}%)
                                </td>
                                <td>{{ campaign.backers_count }}</td>
                                <td>
                                    <a
                                        routerLink="/campaigns/{{ campaign.id }}/dashboard/0"
                                        class="btn btn-default"
                                        title="Campaign Dashboard"
                                    ><i class="fa fa-dashboard"></i></a>
                                    <a
                                        *ngIf="!campaign.live"
                                        routerLink="/campaigns/{{ campaign.id }}"
                                        class="btn btn-default"
                                        title="Public page"
                                    ><i class="fa fa-eye"></i></a>
                                    <a
                                        *ngIf="campaign.live"
                                        href="{{ env.seo_url }}/c/{{ campaign.id }}"
                                        class="btn btn-default"
                                        title="Public page"
                                    ><i class="fa fa-eye"></i></a>
                                    <a
                                        routerLink="/campaigns/{{ campaign.id }}/edit"
                                        class="btn btn-default"
                                        title="Edit Campaign"
                                    ><i class="fa fa-pencil"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
