<div *ngIf="campaign" class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <h1>{{ campaign.title }}</h1>
            <div class="btn-group">
                <a
                    *ngIf="campaign.id"
                    class="active btn btn-default"
                    routerLink="/campaigns/{{ campaign.id }}/dashboard"
                ><i class="icon-speedometer"></i></a>
                <a
                    *ngIf="campaign.id"
                    class="btn btn-default"
                    routerLink="/campaigns/{{ campaign.id }}/edit"
                ><i class="icon-pencil"></i></a>
                <a
                    *ngIf="campaign.id && !campaign.live"
                    class="btn btn-default"
                    routerLink="/campaigns/{{ campaign.id }}"
                ><i class="icon-eye"></i></a>
                <a
                    *ngIf="campaign.id && campaign.live"
                    class="btn btn-default"
                    href="{{ env.seo_url }}/c/{{ campaign.id }}"
                ><i class="icon-eye"></i></a>
            </div>
        </div><!-- col -->
    </div><!-- row -->
    <div class="row">
        <div class="col-md-12">
            <div class="btn-group">
                <a
                    *ngFor="let section of sections; let i = index;"
                    [ngClass]="{ 'active': i == sectionIndex }"
                    (click)="changeSection(i)"
                    class="btn btn-default"
                ><i class="icon-{{ section.icon }}"></i> {{ section.name }}</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">

            <!-- Statistics -->
            <div *ngIf="sections[sectionIndex].name == 'Statistics'" class="card">
                <!-- <div class="card-header">
                    <h2><i class="icon-{{ sections[sectionIndex].icon }}"></i> Statistics</h2>
                </div> -->
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <th>Fundraising Goal</th>
                            <td>
                                {{ campaign.monetary_goal || 'No goal' }}
                            </td>
                        </tr>
                        <tr>
                            <th>Amount Raised</th>
                            <td>{{ campaign.monetary_total | currency }}</td>
                        </tr>
                        <tr>
                            <th>Percent Raised</th>
                            <td>{{ campaign.percent_raised }}%</td>
                        </tr>
                        <tr>
                            <th>Backers</th>
                            <td>{{ campaign.backers_count }}</td>
                        </tr>
                        <tr>
                            <th>Campaign Duration</th>
                            <td>{{ campaign.days }} days</td>
                        </tr>
                        <tr>
                            <th>Time Left</th>
                            <td>{{ campaign.time_left }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- End Statistics -->

            <!-- Payments -->
            <div *ngIf="sections[sectionIndex].name == 'Payments'">
                <div *ngIf="campaign.payments && campaign.payments.length > 0" class="card">
                    <!-- <div class="card-header">
                        <h2><i class="icon-wallet"></i> Payments</h2>
                    </div> -->
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Backer</th>
                                <th>Amount</th>
                                <th>Reward</th>
                            </tr>
                        </thead>
                        <tr *ngFor="let payment of campaign.payments">
                            <td>{{ payment.created_at | date }}</td>
                            <td>{{ payment.user.name }}</td>
                            <td>{{ payment.amount | currency:'USD':'symbol' }}</td>
                            <td>
                                <span *ngIf="payment.reward">{{ payment.reward.title }}</span>
                                <span *ngIf="!payment.reward">(No reward)</span>
                            </td>
                        </tr>
                    </table>
                </div>
                <p *ngIf="campaign.payments && campaign.payments.length == 0">
                    No payments yet.
                </p>
            </div>
            <!-- End Payments -->

        </div>
    </div>
</div><!-- animated -->
