<aside *ngIf="user" class="aside-menu">
    <nav class="nav-tabs">
        <ul class="nav">
            <li class="nav-item">
                <a
                    class="nav-link"
                    routerLink="/user/edit"
                ><i class="icon-user"></i> My Account</a>
            </li>
            <li class="nav-item">
                <a
                    class="nav-link"
                    routerLink="/user/financial"
                ><i class="icon-wallet"></i> My Financial Information</a>
            </li>
            <li class="nav-item">
                <a
                    class="nav-link"
                    (click)="logout()"
                    [routerLink]="['/login']"
                ><i class="icon-logout"></i> Logout</a>
            </li>
        </ul>
    </nav>
</aside>
