<div class="sidebar">
    <app-sidebar-header></app-sidebar-header>
    <app-sidebar-form></app-sidebar-form>
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active" [routerLink]="['/']">
                    <i class="icon-home"></i> Home
                </a>
            </li>
            <li *ngIf="user" class="nav-item">
                <a class="nav-link" routerLinkActive="active" [routerLink]="['/campaigns']">
                    <i class="icon-map"></i>
                    <span *ngIf="user.role == 'admin'">Campaigns</span>
                    <span *ngIf="user.role == 'user'">My Campaigns</span>
                </a>
            </li>
            <li *ngIf="user && user.role == 'admin'" class="nav-item">
                <a class="nav-link" routerLinkActive="active" [routerLink]="['/users']">
                    <i class="icon-people"></i> Users
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/campaigns/new']">
                    <i class="fa icon-plus"></i> Create Campaign
                </a>
            </li>
        </ul>
    </nav>
    <app-sidebar-footer></app-sidebar-footer>
</div>
